body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPlwFkDiitYg_JJuaonTXEL9bVTOMQdCOIhA&s'); /* Replace with the path to your wallpaper */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
  }


  
 

  